body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;
    width: 600px;
    height: fit-content;
}

.card h1 {
    color: #4a90e2;
}

.card a.button {
    background-color: #4a90e2;
    color: #fff;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
}

.card a:hover {
    background-color: #357ab8;
}

form {
    padding: 1rem;
}

input[type="text"] {
    width: 100%;
}

input[type="submit"] {
    background-color: #4a90e2;
    color: #fff;
    text-decoration: none;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #357ab8;
}

.movie-item {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    margin: 0.25rem;
    border: 1px #ddd solid;
    max-width: 500px;
    flex-wrap: wrap;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}