<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/site.css">
    <title>Movie List</title>
</head>
<body>
    <div class="card">
        <h1>
            Add Movie
        </h1>
        <form action="add" method="post">
            <label for="name">Movie Title:</label><br>
            <input type="text" id="name" name="name" value=""><br>
            <label for="director">Director:</label><br>
            <input type="text" id="director" name="director" value=""><br><br>
            <input type="submit" value="Add Movie">
        </form>
        <a class="button" href="/movies">Back to Movie List</a>
    </div>
</body>
</html>